*
{
	padding: 0px;
	margin:0px;
}

body
{
	text-align: center;
}

canvas
{
 
  background : skyblue;
  -webkit-transition: -webkit-transform 1s;
  -ms-transition: -ms-transform 1s;
  -o-transition: -o-transform 1s;
  -moz-transition: -moz-transform 1s;
  transition: transform 1s;
  
  }

canvas:hover
{
	width: 51px;
	height : 51px;
	opacity : 0.5;
		
}

#canvasDiv
{
	
	margin : 150px auto 40px;
}

#reloadButton
{
	text-decoration : none;
	color :black;
	font: 20px tahoma;
}

#reloadButton:hover
{
font-size: 24px;

}